@font-face {
    font-family: 'Aldrich-Regular-woff';
    src: url('../fonts/Aldrich-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlethiaNext-Light-woff';
    src: url('../fonts/AlethiaNext-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold-woff';
    src: url('../fonts/Inter_28pt-ExtraBold.woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium-woff';
    src: url('../fonts/Inter_28pt-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular-woff';
    src: url('../fonts/Inter_28pt-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeagueSpartan-SemiBold-woff';
    src: url('../fonts/LeagueSpartan-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan-SemiBold-woff';
    src: url('../fonts/Spartan-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato-Bold-woff';
    src: url('../fonts/Lato-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Orbitron-Bold-woff';
    src: url('../fonts/Orbitron-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Bold-woff';
    src: url('../fonts/Rajdhani-Bold.woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Medium-woff';
    src: url('../fonts/Rajdhani-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Regular-woff';
    src: url('../fonts/Rajdhani-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-SemiBold-woff';
    src: url('../fonts/Rajdhani-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium-woff';
    src: url('../fonts/Roboto-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular-woff';
    src: url('../fonts/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MuseoModerno-Regular-woff';
    src: url('../fonts/MuseoModerno-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --gray: rgba(255, 255, 255, 0.5);
    --gray-header: rgba(255, 255, 255, 0.6);
    --gray-timer: rgba(255, 255, 255, 0.7);
    --green: #0f6;
    --red: #f00;
    --blue-text: #2EC5CE;
    --purple-glossy: rgba(255, 86, 246, 0.51);

    /* Background */
    --dark-purple: #20083B;
    --purple-background: #01204c;
    --pink-background: #FFB1EE;
    /* Gradient */
    --pink: #FF56F6;
    --purple: #B936EE;
    --blue: #3BACE2;
    --blue-light: #43A5E3;
    --dark-blue: #406AFF;
    --light-pink: #FFA6FA;
    --ocean-blue: #3C79D4;
}

/* Body*/

body {
    scroll-behavior: smooth;

    font-family: Roboto-Regular-woff, serif;
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow: auto;
    position: relative;
    background-color: var(--dark-purple);
}

body.no-scroll{
    overflow: hidden;
    touch-action: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-purple);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);
    transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 0 0.2rem var(--white);
    background-color: var(--white);
}

.bg{
    position: absolute;
    inset: 0;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.bg::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dark-purple);
    opacity: 0.75;
    z-index: 1;
    pointer-events: none;

    filter: blur(80px);
}

.bg__img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.bg__glow-container{
    position: absolute;
    max-width: 100rem;
    margin: 0 auto;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bg__glow{
    position: absolute;
    filter: blur(60px);
    z-index: 0;
}

.bg__glow:nth-child(1){
    width: 30vh;
    height: 30vh;
    top: 35rem;
    left: 2rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(1) {
        width: 25vh;
        height: 25vh;
        top: 30rem;
        left: 3rem;
    }
}

.bg__glow:nth-child(2) {
    width: 40vh;
    height: 40vh;
    top: 33rem;
    left: 40rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(2) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(3) {
    width: 30vh;
    height: 30vh;
    top: 120rem;
    left: -3rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(3) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(4) {
    width: 30vh;
    height: 30vh;
    top: 120rem;
    left: 65rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(4) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(5) {
    width: 30vh;
    height: 30vh;
    top: 140rem;
    left: 27rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(5) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

section{
    max-width: 99rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@media (max-width: 1440px) {
    section {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

footer{
    max-width: 99rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.br-mobile{
    display: none;
}

@media (max-width: 768px) {
    .br-mobile{
        display: block;
    }
}

.br-desktop{
    display: block;
}

@media (max-width: 768px) {
    .br-desktop{
        display: none;
    }
}

.button-container{
    position: relative;
    border: none;
    background: linear-gradient(
            to right,
            var(--light-pink), var(--ocean-blue)
    );
    cursor: pointer;
    padding: 0.2rem;

    width: fit-content;
}

.button{
    display: flex;
    align-items: center;
    font-family: Rajdhani-SemiBold-woff, serif;
    color: var(--white);
    font-size: 1.106rem;
    border: none;
    outline: none;
    box-shadow: none;
    background: linear-gradient(
            to left,
            var(--blue), var(--purple), var(--pink),
            var(--pink), var(--purple), var(--blue)
    );
    background-size: 200% 100%;
    background-position: right center;

    padding: 0.65rem 1.1rem;
    transition: background-position 0.5s ease;
}

.button-container:hover .button{
    background-position: left center;
}

.button_transparent{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.6rem 0.5rem;

    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(
            to right,
            var(--light-pink),
            var(--ocean-blue)) 1;
    cursor: pointer;
    transition: all 0.3s ease;

}

.button_transparent:hover{
    color: var(--white);
    background-image: linear-gradient(
            to left,
            var(--blue),
            var(--purple),
            var(--pink),
            var(--pink),
            var(--purple),
            var(--blue));
    background-size: 200% 100%;
    background-position: right center;
}

.container__button-mobile{
    display: none;
    width: fit-content;
    cursor: pointer;

    border: none;
    background: linear-gradient(
            to right,
            var(--light-pink),
            var(--ocean-blue));
    padding: 1px;

    -webkit-clip-path: polygon(16% 0%, 100% 0, 100% 21%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);
    clip-path: polygon(16% 0%, 100% 0, 100% 21%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);
}

@media (max-width: 768px) {
    .container__button-mobile{
        display: flex;
    }
}

.button-mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;

    background: rgba(32, 11, 61, 1);

    padding: 0.6rem 1.5rem;

    -webkit-clip-path: polygon(16% 0%, 100% 0, 100% 21%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);
    clip-path: polygon(16% 0%, 100% 0, 100% 21%, 100% 72%, 84% 100%, 0 100%, 0% 85%, 0 26%);

    transition: 0.5s;
}



.button-mobile-text{
    color: var(--white);
    font-family: Orbitron-Bold-woff, sans-serif;
    font-size: 12px;
}

.button-mobile-ico{
    width: 100%;
    height: 100%;
    max-width: 2rem;
    max-height: 1rem;
}

.button-mobile:hover{
    color: var(--white);
    background-image: linear-gradient(
            to left,
            var(--blue),
            var(--purple),
            var(--pink),
            var(--pink),
            var(--purple),
            var(--blue));
    background-size: 200% 100%;
    background-position: right center;
}

.swiper-section-topNFT .container__button-mobile{
    margin-top: 2.5rem;
}

.clicked{
    color: var(--white);
    background-image: linear-gradient(
            to left,
            var(--blue),
            var(--purple),
            var(--pink),
            var(--pink),
            var(--purple),
            var(--blue));
    background-size: 200% 100%;
    background-position: right center;
}

.card{
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    backdrop-filter: blur(15px);
}

.card::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background: radial-gradient(
            circle,
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.1),
            transparent 150%
    );
    filter: blur(30px);
    transform: scale(1.1);
    pointer-events: none;
}

.card::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
            135deg,
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.1)
    );

    padding: 3px;
    mask:
            linear-gradient(var(--white) 0 0) content-box,
            linear-gradient(var(--white) 0 0);
    mask-composite: exclude;

    pointer-events: none;
}

.title{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(16px, 2vw, 26.53px);
}

.swiper{

}

.swiper__title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media (max-width: 575px) {
    .swiper__title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 1rem;
    }
}

@media (max-width: 1024px) {
    .swiper__title-container{
        display: none;
    }
}

.swiper__title-ico{
    max-width: 3.5rem;
    max-height: 1.5rem;
}

.swiper-slide {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.slide__img{
    width: fit-content;
    height: fit-content;
    object-fit: cover;
    user-select: none;
}

.slide__img-picture{
    height: 100%;
    width: 100%;
    user-select: none;
}

.slide__button-container{
    margin-top: 2.8rem;
}

@media (max-width: 768px) {
    .slide__button-container{
        margin-top: 1.8rem;
    }
}

.slide__button-text{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(13.6px, 1.7vw, 23.04px);
}

.slide__button-ico{
    max-width: 2rem;
    max-height: 1rem;
}

@media (max-width: 1024px) {
    .slide__button-ico{
        max-width: 1.5rem;

    }
}

.swiper__button-container{
    padding-top: 2.3rem;
    display: none;
}

.swiper__button{
    color: var(--white);
    width: fit-content;
    font-family: Orbitron-Bold-woff, serif;
    font-size: 12px;

    display: flex;
    justify-content: center;

    gap: 1rem;
}

@media (max-width: 575px){
    .swiper__button-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.slide__card{
    width: calc(100% - 3px);
    display: flex;
    padding: 3.1rem 2.5rem 2rem 2.5rem;
}

@media (max-width: 575px) {
    .slide__card{
        padding: 2rem 1.3rem 1.3rem 2.1rem;
    }
}

/* header */

.header{
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100%;
    background: var(--dark-purple);
    padding: 3.7rem 1rem;
    margin: 0 auto;
    z-index: 10;
}

@media (max-width: 768px) {
    .header{
        padding: 1.9rem 2rem;
    }
}

.navbar{
    max-width: 99rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__logo{
    max-width: 9.5rem;
    max-height: 1.404rem;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
}

.navbar__menu-link{
    font-family: Orbitron-Bold-woff,Roboto-Regular-woff, serif;
    font-size: 1.244rem;
    color: var(--gray-header);
}

.navbar__menu-link:hover{
    color: var(--white);
    transition: all 0.5s ease;
}

.navbar__icons{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3rem;
}

.navbar__icons:hover{
    transition: all 0.5s ease;
}

.navbar__icons-cart{
    max-width: 2rem;
    max-height: 2rem;
}

.navbar__icons-profile{
    max-width: 1.6rem;
    max-height: 1.6rem;
}

.navbar__burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 1.4rem;
    height: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    /*gap: 1rem;*/
}

.navbar__burger span {
    display: block;
    height: 0.175rem;
    width: 1.4rem;
    background: var(--gray-header);
    border-radius: 2px;
    transition: all 0.5s ease;
    margin: 0;
}

.navbar__burger span:nth-child(1) {
    transform-origin: top left;
}

.navbar__burger span:nth-child(3) {
    transform-origin: bottom left;
}

.navbar__burger span:nth-child(2) {
    width: 0.8rem;
    margin-left: auto;
}


.navbar__burger:hover span{
    background: var(--white);
    transition: all 0.5s ease;
}


.navbar__burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(0.2051rem);

}
.navbar__burger.open span:nth-child(2) {
    opacity: 0;
}
.navbar__burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.2051rem);
}

.navbar__menu-hidden{
    display: none;
}


@media (max-width: 768px) {

    .navbar__menu {
        position: absolute;
        min-height: 100vh;
        height: calc(100vh - 98%);
        top: 98%;
        left: 0;
        right: 0;

        flex-direction: column;
        padding: 1rem;

        background: var(--dark-purple);
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
        overflow-y: auto;
    }

    .navbar__menu-hidden{
        display: flex;
    }

    .navbar__menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar__icons {
        display: none;
    }

    .navbar__burger {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .navbar__menu{
        gap: 2rem;
    }

    .navbar__icons{
        gap: 2rem;
    }
}

/* discover */

.discover{
    padding-top: 15rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .discover{
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 7.8rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.discover__title,
.discover__img{
    min-width: 300px;
}

.discover__img{
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 2rem;
}

@media (max-width: 1440px) {
    section .discover__img{
        padding-top: 4rem;
        padding-left: 0;
    }
}


.discover__img-picture{
    position: relative;
    display: block;
}


.discover__img-picture::before{
    content: '';
    position: absolute;
    top: 25px;
    right: 10px;
    bottom: 10px;
    left: 15px;
    z-index: -1;
    background: radial-gradient(
            circle,
            rgba(0,0,0,1),
            rgba(0,0,0,1),
            transparent 100%
    );
    filter: blur(30px);
    transform: scale(1.1);
    pointer-events: none;
}


.discover__img-image{
    display: block;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(
            25% 0, 100% 0,
            100% 50%, 100% 100%,
            0 100%, 0 15%
    );
    border-radius: 20px;
}


@media (max-width: 1024px) {

    .discover__title{
        order: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
        max-width: 550px;
    }
    .discover__logos{
        order: 2;
    }
    .discover__img{
        order: 3;
    }
}

.discover__profile{
    padding-top: 1.4rem;
}

.discover__title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.discover__title-main{
    display: block;
    font-family: Spartan-SemiBold-woff, serif;
    font-size: clamp(42px, 4.1vw, 66.33px);

    line-height: 137%;
}

@media (max-width: 768px) {
    .discover__title-main{
        font-family: Lato-Bold-woff, serif;
    }
}

.discover__title-main--gradient{
    display: inline;
    background: linear-gradient(to right, var(--pink), var(--blue-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.discover__title-sub{
    display: flex;
    font-family: Rajdhani-Regular-woff, serif;

    font-size: clamp(14px, 2.2vw, 26.53px);
    line-height: 137.4%;
}



.discover__form{
    display: flex;
    align-items: center;
    padding-top: 0.9rem;
    gap: 2.6rem;
}

@media (max-width: 575px) {
    .discover__form{
        padding-top: 0.6rem;
        align-items: center;
        width: 100%;
        justify-content: center;

        gap: 1.6rem;
    }
}

.discover__form-button{
    border-radius: 0.5rem;
    position: relative;
    padding: 0.2rem;
    border: none;
    background: linear-gradient(
            to right,
            var(--light-pink), var(--ocean-blue)
    );

    clip-path: polygon(
            15% 0%,
            100% 0%,
            100% 75%,
            85% 100%,
            0% 100%,
            0% 25%
    );

    cursor: pointer;
    z-index: 1;
    overflow: visible;
}

@media (max-width: 575px) {
    .discover__form-button{
        padding: 0.1rem;
        border-radius: 0.25rem;
    }
}

.discover__form-container {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.25rem 3.3rem;
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(13px, 1.5vw, 19.9px);

    color: var(--white);
    background: linear-gradient(
            to left,
            var(--pink), var(--purple), var(--blue),
            var(--blue), var(--purple), var(--pink)
    );
    background-size: 200% 100%;
    background-position: right center;

    clip-path: polygon(
            15% 0%,
            100% 0%,
            100% 75%,
            85% 100%,
            0% 100%,
            0% 25%
    );

    transition: background-position 0.5s ease;
}

@media (max-width: 575px) {
    .discover__form-container{
        padding: 0.5rem 1.3rem;
        border-radius: 0.25rem
    }
}

.discover__form-icon{
    max-width: 3.5rem;
    max-height: 1.5rem;
}

@media (max-width: 575px) {
    .discover__form-icon{
        max-width: 1.7rem;
    }
}

.discover__form-button:hover .discover__form-container {
    background-position: left center;
    color: white;
}

.discover__form-sub{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(13px, 1.5vw, 19.9px);
    letter-spacing: 0.1rem;
    background: linear-gradient(to right, var(--blue-light), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.discover__info{
    display: flex;

    gap: 3.8rem;
    align-items: center;
    padding-top: 3.3rem;
}

@media (max-width: 1024px) {
    .discover__info{
        justify-content: space-between;

        padding-top: 1rem;
        width: 100%;
        gap: 0;
    }
}

.discover__info-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.discover__info-item:not(:last-child)::after{
    content: '';
    position: absolute;

    width: 0.2rem;
    height: 4.5rem;

    right: -1.9rem;


    background-color: rgba(255,255,255,0.3);
}

@media (max-width: 1024px) {
    .discover__info-item:not(:last-child)::after{
        right: -90%;
    }
}

@media (max-width: 575px) {
    .discover__info-item:not(:last-child)::after{
        display: none;
    }
}

.discover__info-value{
    font-family: Aldrich-Regular-woff, serif;
    font-size: clamp(18px, 3vw, 39.8px);
}

.discover__info-label{
    font-family: AlethiaNext-Light-woff, serif;
    font-size: clamp(1rem, 1.1vw, 3.1rem);
    color: var(--gray-header);
}

.discover__content{
    min-width: 24rem;
    margin-left: -20rem;

    margin-top: 75%;
    height: fit-content;

    position: relative;

    display: flex
;
    flex-direction: row;
    gap: 4rem;
    clip-path: polygon(15% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 25%);
}

.discover__content::after {
    border-radius: 10px;
}

@media  (max-width: 1024px) {
    .discover__content{
        left: auto;
    }
}

@media  (max-width: 575px) {
    .discover__content{
        width: 100%;
        gap: 2rem;
        min-width: 0;
        /*max-width: 10rem;*/
    }
}

.profile__title{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: 1.3rem;
}

.profile__author{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    padding-top: 0.8rem;
}

.author__name{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.968rem;
}

.discover__section{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: flex-start;
    z-index: 1;
}

.discover__price{
    /*padding-top: 0.3rem;*/
}

.price__title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.6rem;
    color: var(--gray-timer);
}

.price__container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    padding-top: 0.8rem;
}

.price__container-logo{
    max-width: 1rem;
    max-height: 1rem;
}

.price__container-main{
    font-family: Orbitron-Bold-woff, serif;
    font-size: 0.608rem;
}

.price__container-sub{
    font-family: Rajdhani-Regular-woff, serif;
    font-size: 0.691rem;
    color: var(--gray-timer);
}

.discover__timer{
    padding-top: 1.5rem;
}

.timer__container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-top: 0.8rem;
}
.timer__container-item{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}

.timer__title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.691rem;
    color: var(--gray-timer);
}

.timer__container-value{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 1.106rem;
}

.timer__container-sub{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.9rem;
    color: var(--gray-timer);
}

.discover__img-button{
    margin-top: 0.8rem;
    padding: 0.15rem;
    border-radius: 5px;
}

.img-button__container{
    gap: 0.5rem;
    padding: 0.65rem 1.1rem;
    border-radius: 5px;
}

.img-button__icon{
    max-width: 1.52rem;
    max-height: 0.576rem;
}

.discover__logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12rem;
    padding-top: 9.3rem;
}

@media (max-width: 1024px) {
    .discover__logos{
        padding-top: 2.5rem;
        gap: 2rem;
        flex: 1 1 30%;
    }
}



.logos__item--binance{
    max-width: 16rem;
    max-height: 3rem;
}

@media (max-width: 1024px) {
    .logos__item--binance{
        max-width: 9rem;
        max-height: 2rem;
    }
}

.logos__item--ethereum{
    max-width: 10rem;
    max-height: 3rem;
}

@media (max-width: 1024px) {
    .logos__item--ethereum{
        max-width: 6rem;
        max-height: 3rem;
    }
}

.logos__item--blockchain{
    max-width: 21rem;
    max-height: 3rem;
}

@media (max-width: 1024px) {
    .logos__item--blockchain{
        max-width: 12rem;
        max-height: 2rem;
    }
}

.logos__item--bitmex{
    max-width: 12rem;
    max-height: 2rem;
}

@media (max-width: 1024px) {
    .logos__item--bitmex{
        max-width: 7rem;
        max-height: 2rem;
    }
}

/* swiper-slide-topNFT */

.swiper-section-topNFT{
    padding-top: 16rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .swiper-section-topNFT{
        padding-top: 12.5rem;
    }
}

.swiper-topNFT{
    margin-top: 4rem;
    width: 100%;
    overflow: visible;

}

@media (max-width: 1024px) {
    .swiper-topNFT{
        margin-top: 2.7rem;
    }
}

.swiper-slide-topNFT{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.slide__card-topNFT{
    justify-content: space-between;

}

.slide__profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
}

@media (max-width: 1024px) {
    .slide__profile{
        gap: 0.7rem;
    }
}

.swiper__profile-title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(13.6px, 1.7vw, 23.04px);
}

.swiper__author{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.swiper__picture-img{
    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .swiper__picture-img{
        max-width: 2rem;
        max-height: 2rem;
    }
}

.swiper__name{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(11.9px, 1.6vw, 20.16px);
}

.swiper__verified-ico{
    min-width: 1rem;
    min-height: 1rem;
}

.slide__price{
    padding-top: 2.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .slide__price{
        padding-top: 1.4rem;
        gap: 0.3rem;
    }
}

.swiper__price-title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(8.5px, 1.1vw, 14.4px);
}

.swiper__price-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.swiper__logo{
    max-width: 1.8rem;
    max-height: 2rem;
}

@media (max-width: 1024px) {
    .swiper__logo{
        max-width: 1.3rem;
    }
}

.swiper__main{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(7.47px, 0.9vw, 12.66px);
}

.swiper__sub{
    font-family: Rajdhani-Regular-woff, serif;
    font-size: clamp(8.5px, 1.1vw, 14.4px);
    color: var(--gray-timer);
}

.slide__timer{
    padding-top: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.slide__timer-tittle{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(8.5px, 1.1vw, 14.4px);
    color: var(--gray-timer);
}

.swiper__timer-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.swiper__timer-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.swiper__timer-value{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(13.6px, 1.7vw, 23.04px);
}

.swiper__timer-sub{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: clamp(8.5px, 1.1vw, 14.4px);
    color: var(--gray-timer);
}

.slide__button{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.2rem;

    padding: 0.8rem 1.4rem;
}

@media (max-width: 1024px) {
    .slide__button{
        padding: 0.5rem 0.7rem;
    }
}

@media (max-width: 1024px){
    .swiper__button-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


/*tabs*/

.tabs{
    padding-top: 10.5rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .tabs {
        padding-top: 3.8rem;

        justify-content: center;
        align-items: center;
    }
}

.tabs__section{
    padding-top: 4.3rem;

    display: flex;
    flex-direction: column;
}

.tabs__title{
    align-items: center;
    justify-content: flex-start;
}

.tabs__container{
    padding-top: 3.3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 3rem;
}

@media (max-width: 1024px) {
    .tabs__container{
        padding-top: 1.5rem;
        gap: 1.4rem;
    }
}

@media (max-width: 325px) {
    .tabs__container{
        grid-template-columns: 1fr;
    }
}



.tabs__container-button{

}

@media (max-width: 1024px) {
    .tabs__button{
        padding: 0.8rem 2rem;
    }
}

.tabs__button-text{
    font-family: Orbitron-Bold-woff, serif;
    color: var(--gray-timer);
    font-size: clamp(11px, 2.2vw, 26.53px);
}

.tabs__sub-container{
    padding-top: 2rem;
    padding-right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 1.6rem;
}

@media (max-width: 1024px) {
    .tabs__sub-container{
        padding-top: 1.2rem;

        gap: 1rem;
    }
}

.tabs__sub{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(8.24px, 2.5vw, 26.53px);
}

.tabs__sub-ico {
    max-width: 3.5rem;
    max-height: 1.5rem;

    width: 100%;
    height: 100%;
}

@media (max-width: 1024px) {
    .tabs__sub-ico{
        max-width: 1.5rem;
        max-height: 0.5rem;
    }
}

.tabs__picture{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    transition: all 0.6s ease-in-out;
    max-width: 31rem;
    width: 100%;
}

@media (max-width: 1024px) {
    .tabs__picture{
        max-width: 14rem;
    }
}

.tabs__img{
    display: block;
    width: 100%;
    object-fit: cover;
    user-select: none;

    transition: all 0.6s ease-in-out;
}

/*swiper-authors*/

.swiper-section-authors{
    padding-top: 12.5rem;
}

@media (max-width: 1024px) {
    .swiper-section-authors{
        padding-top: 7.3rem;
    }
}

.swiper-authors{
    margin-top: 3.5rem;
    overflow: visible;
}

@media (max-width: 1024px) {
    .swiper-authors{
        margin-top: 2.5rem;
    }
}

.swiper-slide-authors{
    flex-direction: column;
    padding: 0.25rem;
}

.slide-authors{
    flex-direction: column;
    padding: 0 2.5rem 2rem 2.5rem;
    margin-top: -8rem;

    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide__img-authors{
    max-width: 12rem;
}

.authors__title{
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.authors__title-container{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    gap: 1rem;
}

.authors__title-main{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: clamp(16.84px, 1.8vw, 24.32px);
}

.authors__title-sup{
    font-family: Rajdhani-Regular-woff, serif;
    font-size: clamp(14px, 1.5vw, 20.16px);
}

.authors__title-verified-ico{
    min-width: 1.3rem;

}

.authors__counter{
    padding-top: 2.6rem;

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authors__counter-container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.authors__counter-main{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(22px, 2vw, 31.69px);
}

.authors__counter-sup{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: clamp(13.71px, 1.4vw, 19.81px);
}

.authors__button-container{
    margin-top: 2.9rem;
}

.authors__button {
    padding: 1rem 6.5rem;
}

@media (max-width: 375px) {
    .authors__button {
        padding: 1rem 3rem;
    }
}

/*sellers*/

.sellers{
    padding-top: 11.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .sellers{
        padding-top: 1.4rem;
    }
}

.sellers__title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sellers__title-main{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0.5rem;
}

.sellers__title-dropdown{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    gap: 0.5rem;
}

.sellers__title-dropdown.dropdown-open .sellers__title-dropdown-content {
    display: flex;
}

.sellers__title-dropdown-text{
    color: var(--pink);
}

.sellers__title-dropdown-ico{
    max-width: 1rem;
    max-height: 1rem;
}

.sellers__title-dropdown-content {
    display: none;
    position: absolute;

    top: 130%;
    overflow: visible;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    background-color: var(--dark-purple);
    border: 2px solid;
    border-image: linear-gradient(
            to right,
            var(--light-pink),
            var(--ocean-blue)) 1;

    cursor: pointer;
    transition: all 0.3s ease;
    width: fit-content;
    padding: 1.5rem 2rem 1.5rem 1rem;
    gap: 2rem;
    z-index: 10;
}

.sellers__title-dropdown-item{
    position: relative;
    color: rgba(255,255,255,0.4);
    display: block;
    transition: all 0.3s ease;
}

.sellers__title-dropdown-item:not(:last-child)::after{
    content: '';
    position: absolute;

    width: 7rem;
    height: 0.1rem;

    bottom: -50%;
    left: 0;

    background-color: rgba(255,255,255,0.4);
    transition: all 0.3s ease;
}

.sellers__title-dropdown-item:hover{
    color: var(--white);
}

.sellers__title-dropdown-item:hover:not(:last-child)::after {
    background-color: var(--white);
}

.dropdown-show {
    display: block;
}

    /*sellers-swiper*/


.sellers__title-sup{
    padding-top: 2.2rem;

    font-family: Roboto-Regular-woff, serif;
    font-size: clamp(1.1rem, 1.25rem, 2rem);
    line-height: 140%;
}

.swiper-sellers {
    width: 100%;
    margin-top: 4rem;
    height: calc((120px * 4) + (30px * 3)) !important;
}

.wrapper__sellers{
    display: flex;
    justify-content: center;
}

.slide__sellers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: calc((100%  / 3 ) - (30px * 2));
    min-width: fit-content;
    background-color: transparent;
    overflow: hidden;

    padding: 2rem 1.5rem 2rem 2rem;
    height: 120px !important;
}

@media (max-width: 1440px) {
    .slide__sellers{
        width: calc((100%  / 2 ) - 30px);
    }

}

@media (max-width: 768px) {
    .slide__sellers{
        width: 100%;
    }

}

.slide__sellers::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.1));
    padding: 3px;
    mask: linear-gradient(var(--white) 0 0) content-box, linear-gradient(var(--white) 0 0);
    mask-composite: exclude;
    pointer-events: none;
    border-radius: 2rem;
}

.sellers__id{
    padding-left: 0.3rem;
    font-family: Roboto-Regular-woff, serif;
    font-size: clamp(1.1rem, 1.25rem, 2rem);
}

.sellers__picture{
    padding-left: 1.2rem;
}

.sellers__picture-img{
    max-width: 5rem;
}

.sellers__profile{
    padding-left: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1.2rem;
}

.seller__name{
    font-family: Roboto-Regular-woff, serif;
    font-size: clamp(1.1rem, 1.23rem, 2rem);
}

.sellers__value-container{
    align-items: flex-start;
    justify-content: center;
}

.sellers__logo{
    max-width: 1rem;
    max-height: 1rem;
}

.sellers__percent-container{
    margin-left: auto;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(0, 178, 71, 0.3);
    color: var(--green);
    padding: 0.7rem 1.5rem;
    border-radius: 200px;
}

.sellers__percent-container:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(135deg, rgba(73, 182, 73, 0), rgba(0, 178, 71, 0.72));
    padding: 2px;
    mask: linear-gradient(var(--white) 0 0) content-box, linear-gradient(var(--white) 0 0);
    mask-composite: exclude;
    pointer-events: none;
    border-radius: 200px;
}

.sellers__button-container{
    display: flex;
    width: fit-content;
    margin-top: 6.2rem;
}

@media (max-width: 1024px){
    .sellers__button-container{
        display: none;
        align-items: center;
        justify-content: center;
    }
}

.sellers__button{
    padding: 1rem 6rem;
}

.sellers__button-text{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(0.7rem, 1.3rem, 2.5rem);
}

/*info*/

.info{
    margin-top: 11.5rem;
    max-width: 100%;

    display: flex;
    align-items: end;
    justify-content: center;

    overflow: unset;
}

.info__bg{
    height: 39.3rem;
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
}

.info__bg-img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.info__wrapper{
    max-width: 99rem;
    width: 100%;

    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .info__wrapper {
        justify-content: center;
    }
}


.info__container{
    transform: translateY(44%);
    margin-right: 2rem;

    width: fit-content;
    padding: 5rem 5rem 4rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .info__container{
        margin-right: 0;
        padding: 2.5rem 2.5rem 2.5rem 2.5rem;
    }
}

.info__links{
    padding-top: 0.7rem;

    display: flex;
    gap: 1rem;
}

.info__title{
    font-family: Inter-ExtraBold-woff, serif;
    font-size: clamp(2rem, 2.5vw, 3rem);
    letter-spacing: 0.14rem;
}

.info__text{
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.7rem, 2.5vw, 1.4rem);
    line-height: clamp(1.5rem, 2.5vw, 2.5rem);
    letter-spacing: 0.07rem;
}

.info__links{
    display: flex;
    gap: 2.4rem;

    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.7rem, 2.5vw, 1.4rem);
    line-height: 2.5rem;
    letter-spacing: 0.07rem;

}

.info__ico {
    cursor: pointer;

    max-width: 1rem;
    max-height: 1rem;
}

/*form*/

.form{
    padding-top: 26.3rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5.5rem;
}


@media (max-width: 1024px) {
    .form{

        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


.form__picture{
    max-height: 20.7rem;
    height: 100%;
    max-width: 50.2rem;
    width: 100%;

    inset: 0;
    z-index: -1;
    overflow: hidden;

}

@media (max-width: 1024px) {
    .form__picture{
        max-height: 40rem;
        order: 2;
        padding-top: 2rem;

        display: flex;
        justify-content: center;
    }
}

.form__picture-img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.form__wrapper{
    display: flex;
    flex-direction: column;
    gap: 3.4rem;

    padding-bottom: 0.5rem;
}

@media (max-width: 1024px) {
    .form__wrapper{
        order: 1;
        max-height: 25rem;
    }
}

.form__title{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(2rem, 2.84rem, 3.5rem);
}

.form__sub{
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.7rem, 1.4rem, 2rem);
    line-height: 2.5rem;
}

.form__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 575px) {
    .form__container{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
}

.form__form{
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.7rem, 1.2rem, 2rem);

    padding: 1.2rem 1.1rem;


    border: none;
    border-radius: 0.4rem 0 0 0.4rem;
}

.form__button-container{
    border-radius: 0 0.4rem 0.4rem 0;
}

.form__button{
    font-family: Inter-Medium-woff, serif;
    font-size: clamp(0.7rem, 1.2rem, 2rem);
    padding: 1rem 2.3rem;
    border-radius: 0 0.4rem 0.4rem 0;
}

/*footer*/

.footer{
    padding-top: 17.9rem;
    padding-bottom: 3rem;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 99rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

@media (max-width: 1440px) {
    .footer {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.footer:before{
    content: '';
    position: absolute;

    width: 100%;
    height: 0.2rem;

    background-color: rgba(255,255,255,0.2);

    top: 11.7rem;
}

@media (max-width: 1440px) {
    .footer:before {
        width: calc(100% - 2rem);
        top: 15rem;
    }
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer-container{
        flex-direction: column;
        justify-content: flex-start;
    }

}

.footer__title-wrapper{
    padding-top: 0.7rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 2rem;
}

.footer__title-logo{
    max-width: 10rem;
    width: 100%;
    max-height: 2.4rem;
    height: 100%;
}

.footer__title{
    color: rgba(217,219,225,1);
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    line-height: clamp(1.5rem, 2.5vw, 1.9rem);
}

.footer__title-links{
    gap: 1rem;
    display: flex;
    align-items: flex-start;
}

.footer__links-item{
    max-width: 2rem;
    width: 100%;
    max-height: 2rem;
    height: 100%;
}

.footer__menu{
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    gap: 7.8vw;
}

@media (max-width: 1400px) {
    .footer__menu{
        gap: 4vw;
    }
}

@media (max-width: 1024px) {
    .footer__menu{
        padding-top: 2rem;

        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
    }
}

.menu__section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (max-width: 1024px) {
    .menu__section{
        gap: 0;
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .menu__section:after{
        content: '';
        position: absolute;

        width: 100%;
        height: 0.1rem;
        bottom: -2rem;

        background-color: rgba(255,255,255,0.3);
    }
}

.menu__title-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





.menu__title{
    font-family: Inter-Medium-woff, serif;
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}

.accordion-ico{
    display: none;

    max-width: 1.5rem;
    width: 100%;
    max-height: 1.5rem;
    height: 100%;

    transition: 0.5s ease-in-out;
}

@media (max-width: 1024px) {
    .accordion-ico{
        display: block;
    }
    .accordion.open .accordion-ico{
        transform: rotate(180deg);
    }
}



.menu__item-container{
    display: flex;
    flex-direction: column;
    gap: 1.9rem;

    overflow: hidden;
    transition: 0.5s ease-in-out;
}

@media (max-width: 1024px) {
    .menu__item-container{
        max-height: 0;
    }
}


.menu__item{
    position: relative;
    color: rgba(217,219,225,1);
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
}

.menu__item--label:after{
    position: absolute;
    /*left: 5rem;*/
    transform: translate(1rem, -0.3rem);
    content: 'new';
    color: var(--blue-text);
    font-family: MuseoModerno-Regular-woff, serif;
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
}




.footer-sub{
    position: relative;
    padding-top: 8rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    color: rgba(217,219,225,1);
    font-family: Inter-Regular-woff, serif;
    font-size: clamp(0.9rem, 2.5vw, 1.1rem);
    line-height: clamp(1.5rem, 2.5vw, 1.9rem);
}

.footer-sub:before{
    content: '';
    position: absolute;

    width: 100%;
    height: 0.2rem;


    background-color: rgba(255,255,255,0.2);

    top: 61%;
}

@media (max-width: 1024px) {
    .footer-sub{
        padding-top: 4rem;
        flex-direction: column;

        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .footer-sub:before{
        display: none;
    }
}

@media (max-width: 1024px) {
    .footer__sub-title{
        order: 2;
    }
}

.footer__sub-menu{
    display: flex;
    align-items: flex-end;

    gap: 2.2rem;
}

@media (max-width: 1024px) {
    .footer__sub-menu{
        order: 1;
    }
}

.sub-menu__item{
    position: relative;
}

.sub-menu__item:not(:last-child)::after{
    content: '';
    position: absolute;

    width: 0.2rem;
    height: 1.6rem;

    right: -15%;


    background-color: rgba(255,255,255,0.3);
}

@media (max-width: 1024px) {
    .sub-menu__item:nth-child(3){
        display: none;
    }
    .sub-menu__item:not(:last-child)::after{
        display: none;
    }
}