@font-face {
    font-family: 'Aldrich-Regular-woff';
    src: url('../fonts/Aldrich-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlethiaNext-Light-woff';
    src: url('../fonts/AlethiaNext-Light.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold-woff';
    src: url('../fonts/Inter_28pt-ExtraBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium-woff';
    src: url('../fonts/Inter_28pt-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular-woff';
    src: url('../fonts/Inter_28pt-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeagueSpartan-SemiBold-woff';
    src: url('../fonts/LeagueSpartan-SemiBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron-Bold-woff';
    src: url('../fonts/Orbitron-Bold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Bold-woff';
    src: url('../fonts/Rajdhani-Bold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Medium-woff';
    src: url('../fonts/Rajdhani-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Regular-woff';
    src: url('../fonts/Rajdhani-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-SemiBold-woff';
    src: url('../fonts/Rajdhani-SemiBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium-woff';
    src: url('../fonts/Roboto-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular-woff';
    src: url('../fonts/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --gray: rgba(255, 255, 255, 0.5);
    --gray-header: rgba(255, 255, 255, 0.6);
    --gray-timer: rgba(255, 255, 255, 0.7);
    --green: #0f6;
    --red: #f00;
    --blue-text: #2EC5CE;
    --purple-glossy: rgba(255, 86, 246, 0.51);

    /* Background */
    --dark-purple: #20083B;
    --purple-background: #01204c;
    --pink-background: #FFB1EE;
    /* Gradient */
    --pink: #FF56F6;
    --purple: #B936EE;
    --blue: #3BACE2;
    --blue-light: #43A5E3;
    --dark-blue: #406AFF;
    --light-pink: #FFA6FA;
    --ocean-blue: #3C79D4;
}

/* Body*/

body {
    scroll-behavior: smooth;

    font-family: Roboto-Regular-woff, serif;
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow: auto;
    position: relative;
    background-color: var(--dark-purple);
}

body.no-scroll{
    overflow: hidden;
    touch-action: none;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-purple);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);
    transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 0 0.2rem var(--white);
    background-color: var(--white);
}

.bg{
    position: absolute;
    inset: 0;
    z-index: -10;
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.bg::after{
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--dark-purple);
    opacity: 0.75;
    z-index: 1;
    pointer-events: none;

    filter: blur(80px);
}

.bg__img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    object-position: center;
}

.bg__glow-container{
    position: absolute;
    max-width: 100rem;
    margin: 0 auto;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.bg__glow{
    position: absolute;
    filter: blur(60px);
    z-index: 0;
}

.bg__glow:nth-child(1){
    width: 30vh;
    height: 30vh;
    top: 35rem;
    left: 2rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(1) {
        width: 25vh;
        height: 25vh;
        top: 30rem;
        left: 3rem;
    }
}

.bg__glow:nth-child(2) {
    width: 40vh;
    height: 40vh;
    top: 33rem;
    left: 40rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(2) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(3) {
    width: 30vh;
    height: 30vh;
    top: 120rem;
    left: -3rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(3) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(4) {
    width: 30vh;
    height: 30vh;
    top: 120rem;
    left: 65rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(4) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.bg__glow:nth-child(5) {
    width: 30vh;
    height: 30vh;
    top: 140rem;
    left: 27rem;
}

@media (max-width: 1024px) {
    .bg__glow:nth-child(5) {
        width: 25vh;
        height: 25vh;
        top: 10rem;
        left: 1111111110rem;
    }
}

.button-container{
    position: relative;
    border: none;
    background: linear-gradient(
            to right,
            var(--light-pink), var(--ocean-blue)
    );
    cursor: pointer;
    padding: 0.2rem;
}

.button{
    display: flex;
    align-items: center;
    font-family: Rajdhani-SemiBold-woff, serif;
    color: var(--white);
    font-size: 1.106rem;
    border: none;
    outline: none;
    box-shadow: none;
    background: linear-gradient(
            to left,
            var(--blue), var(--purple), var(--pink),
            var(--pink), var(--purple), var(--blue)
    );
    background-size: 200% 100%;
    background-position: right center;

    padding: 0.65rem 1.1rem;
    transition: background-position 0.5s ease;
}

.button-container:hover .button{
    background-position: left center;
}

.card{
    box-sizing: border-box;
    padding: 1.5rem 1rem;
    backdrop-filter: blur(15px);
}

.card::before{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
            circle,
            rgba(255,255,255,0.3),
            rgba(255,255,255,0.1),
            transparent 150%
    );
    filter: blur(30px);
    transform: scale(1.1);
    pointer-events: none;
}

.card::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;

    background: linear-gradient(
            135deg,
            rgba(255,255,255,0.6),
            rgba(255,255,255,0.1)
    );

    padding: 3px;
    mask:
            linear-gradient(var(--white) 0 0) content-box,
            linear-gradient(var(--white) 0 0);
    mask-composite: exclude;

    pointer-events: none;
}

/* Navigation */

.header{
    position: fixed;
    display: flex;
    justify-content: center;

    width: 100%;
    background: var(--dark-purple);
    padding: 3.7rem 1rem;
    margin: 0 auto;
    z-index: 10;
}

@media (max-width: 768px) {
    .header{
        padding: 3.7rem 3rem;
    }
}

.navbar{
    max-width: 99rem;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar__logo{
    max-width: 9.5rem;
    max-height: 1.404rem;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 4rem;
}

.navbar__menu-link{
    font-family: Orbitron-Bold-woff,Roboto-Regular-woff, serif;
    font-size: 1.244rem;
    color: var(--gray-header);
}

.navbar__menu-link:hover{
    color: var(--white);
    transition: all 0.5s ease;
}

.navbar__icons{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 3rem;
}

.navbar__icons:hover{
    transition: all 0.5s ease;
}

.navbar__icons-cart{
    max-width: 2rem;
    max-height: 2rem;
}

.navbar__icons-profile{
    max-width: 1.6rem;
    max-height: 1.6rem;
}

.navbar__burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 1.4rem;
    height: 1.4rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
    /*gap: 1rem;*/
}

.navbar__burger span {
    display: block;
    height: 0.175rem;
    width: 1.4rem;
    background: var(--gray-header);
    border-radius: 2px;
    transition: all 0.5s ease;
    margin: 0;
}

.navbar__burger span:nth-child(1) {
    transform-origin: top left;
}

.navbar__burger span:nth-child(3) {
    transform-origin: bottom left;
}

.navbar__burger span:nth-child(2) {
    width: 0.8rem;
    margin-left: auto;
}


.navbar__burger:hover span{
    background: var(--white);
    transition: all 0.5s ease;
}


.navbar__burger.open span:nth-child(1) {
    transform: rotate(45deg) translateY(0.2051rem);

}
.navbar__burger.open span:nth-child(2) {
    opacity: 0;
}
.navbar__burger.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(-0.2051rem);
}

.navbar__menu-hidden{
    display: none;
}


@media (max-width: 768px) {

    .navbar__menu {
        position: absolute;
        min-height: 100vh;
        height: calc(100vh - 98%);
        top: 98%;
        left: 0;
        right: 0;

        flex-direction: column;
        padding: 1rem;

        background: var(--dark-purple);
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
        overflow-y: auto;
    }

    .navbar__menu-hidden{
        display: flex;
    }

    .navbar__menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .navbar__icons {
        display: none;
    }

    .navbar__burger {
        display: flex;
    }
}

@media (max-width: 1024px) {
    .navbar__menu{
        gap: 2rem;
    }

    .navbar__icons{
        gap: 2rem;
    }
}

/* Discover */

.discover{
    max-width: 99rem;
    margin: 0 auto;

    padding-top: 14rem;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {
    .discover{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1440px) {
    .discover{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.discover__title,
.discover__img{
    /*flex: 0 0 40%;*/
    min-width: 300px;
}

.discover__img{
    display: flex;
    position: relative;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 2rem;
}

@media (max-width: 1440px) {
    section .discover__img{
        padding-top: 2rem;
        padding-right: 1rem;
    }
}


.discover__img-picture{
    position: relative;
    display: block;

}


.discover__img-picture::before{
    content: '';
    position: absolute;
    top: 25px;
    right: 10px;
    bottom: 10px;
    left: 15px;
    z-index: -1;
    background: radial-gradient(
            circle,
            rgba(0,0,0,1),
            rgba(0,0,0,1),
            transparent 100%
    );
    filter: blur(30px);
    transform: scale(1.1);
    pointer-events: none;
}

@media (max-width: 576px) {
    .discover__img-picture {
        max-width: 100%;
        padding: 0 1rem;
    }
}

.discover__img-image{
    display: block;
    width: 100%;
    object-fit: cover;
    clip-path: polygon(
            25% 0, 100% 0,
            100% 50%, 100% 100%,
            0 100%, 0 15%
    );
    border-radius: 20px;
}


@media (max-width: 768px) {
    .discover__img-image {
        clip-path: polygon(
                25% 0, 100% 0,
                100% 50%, 100% 100%,
                0 100%, 0 15%
        );
    }
}


@media (max-width: 1024px) {

    .discover__title{
        order: 1;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
        max-width: 550px;
    }
    .discover__logos{
        order: 2;
    }
    .discover__img{
        order: 3;
    }
}

.discover__profile{
    padding-top: 1.4rem;
}

.discover__title{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.discover__title-main{
    display: block;
    font-family: LeagueSpartan-SemiBold-woff, serif;
    font-size: clamp(3.6rem, 5vw, 5.6rem);
    line-height: 1.13;
    letter-spacing: 0.175rem;
}
.discover__title-main--gradient{
    display: inline;
    background: linear-gradient(to right, var(--pink), var(--blue-light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}
.discover__title-sub{
    display: flex;
    font-family: Rajdhani-Regular-woff, serif;

    font-size: clamp(1.4rem, 2vw, 1.9rem);
    line-height: 1.6;
}

.discover__form{
    display: flex;
    align-items: center;
    padding-top: 0.9rem;
    gap: 2.6rem;
}

@media (max-width: 575px) {
    .discover__form{
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
}

.discover__form-button{
    border-radius: 0.5rem;
    position: relative;
    padding: 0.2rem;
    border: none;
    background: linear-gradient(
            to right,
            var(--light-pink), var(--ocean-blue)
    );

    clip-path: polygon(
            15% 0%,
            100% 0%,
            100% 75%,
            85% 100%,
            0% 100%,
            0% 25%
    );

    cursor: pointer;
    z-index: 1;
    overflow: visible;
}

.discover__form-container {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    padding: 1.25rem 3.3rem;
    font-family: Orbitron-Bold-woff, serif;
    font-size: 1.45rem;

    color: var(--white);
    background: linear-gradient(
            to left,
            var(--pink), var(--purple), var(--blue),
            var(--blue), var(--purple), var(--pink)
    );
    background-size: 200% 100%;
    background-position: right center;

    clip-path: polygon(
            15% 0%,
            100% 0%,
            100% 75%,
            85% 100%,
            0% 100%,
            0% 25%
    );

    transition: background-position 0.5s ease;
}

.discover__form-icon{
    max-width: 3.5rem;
    max-height: 1.5rem;
}

.discover__form-button:hover .discover__form-container {
    background-position: left center;
    color: white;
}

.discover__form-sub{
    font-family: Orbitron-Bold-woff, serif;
    font-size: 1.28rem;
    letter-spacing: 0.1rem;
    background: linear-gradient(to right, var(--blue-light), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.discover__info{
    display: flex;

    gap: 3.8rem;
    align-items: center;
    padding-top: 3.3rem;
}

@media (max-width: 1024px) {
    .discover__info{
        justify-content: space-between;

        padding-top: 2rem;
        width: 100%;
        gap: 0;
    }
}

.discover__info-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.discover__info-item:not(:last-child)::after{
    content: '';
    position: absolute;

    width: 0.2rem;
    height: 4.5rem;

    right: -1.9rem;


    background-color: rgba(255,255,255,0.3);
}

@media (max-width: 1024px) {
    .discover__info-item:not(:last-child)::after{
        right: -90%;
    }
}

@media (max-width: 575px) {
    .discover__info-item:not(:last-child)::after{
        display: none;
    }
}

.discover__info-value{
    font-family: Aldrich-Regular-woff, serif;
    font-size: clamp(2rem, 3vw, 3rem);
}
.discover__info-label{
    font-family: AlethiaNext-Light-woff, serif;
    font-size: clamp(1rem, 1.1vw, 3.1rem);
    color: var(--gray-header);
}






.discover__content{
    min-width: 24rem;
    margin-left: -20rem;

    margin-top: 75%;
    height: fit-content;

    position: relative;

    display: flex
;
    flex-direction: row;
    gap: 4rem;
    clip-path: polygon(15% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 25%);
}

.discover__content::after {
    border-radius: 10px;
}

@media  (max-width: 1024px) {
    .discover__content{
        left: auto;
    }
}

@media  (max-width: 575px) {
    .discover__content{
        gap: 2rem;
        min-width: 0;
    }
}

.profile__title{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: 1.3rem;
}

.profile__author{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    padding-top: 0.8rem;
}

.author__name{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.968rem;
}

.discover__section{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: flex-start;
    z-index: 1;
}

.discover__price{
    /*padding-top: 0.3rem;*/
}

.price__title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.6rem;
    color: var(--gray-timer);
}

.price__container{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

    padding-top: 0.8rem;
}

.price__container-logo{
    max-width: 1rem;
    max-height: 1rem;
}

.price__container-main{
    font-family: Orbitron-Bold-woff, serif;
    font-size: 0.608rem;
}

.price__container-sub{
    font-family: Rajdhani-Regular-woff, serif;
    font-size: 0.691rem;
    color: var(--gray-timer);
}

.discover__timer{
    padding-top: 1.5rem;
}

.timer__container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-top: 0.8rem;
}
.timer__container-item{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    align-items: flex-start;
}

.timer__title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.691rem;
    color: var(--gray-timer);
}

.timer__container-value{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 1.106rem;
}

.timer__container-sub{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 0.9rem;
    color: var(--gray-timer);
}

.discover__img-button{
    margin-top: 0.8rem;
    padding: 0.15rem;
    border-radius: 5px;
}
.img-button__container{
    gap: 0.5rem;
    padding: 0.65rem 1.1rem;
    border-radius: 5px;
}


.img-button__icon{
    max-width: 1.52rem;
    max-height: 0.576rem;
}

.discover__logos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12rem;
    padding-top: 9.3rem;
}

.logos__item-binance{
    max-width: 16rem;
    max-height: 3rem;
}

.logos__item-ethereum{
    max-width: 10rem;
    max-height: 3rem;
}

.logos__item-blockchain{
    max-width: 21rem;
    max-height: 3rem;
}

.logos__item-bitmex{
    max-width: 12rem;
    max-height: 2rem;
}

@media (max-width: 1024px) {
    .discover__logos{
        padding-top: 3rem;
        gap: 3rem;
    }

    .logos__item {
        flex: 1 1 30%;
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .logos__item {
        transform: scale(0.8);
    }
}

/* Swiper */

.swiper {
    max-width: 99rem;
    margin: 0 auto;
    padding-top: 16rem;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
}

@media (max-width: 1440px) {
    .swiper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
    }
}

.swiper__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(1rem, 1.5rem, 2.4rem);
}

@media (max-width: 575px) {
    .swiper__title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        gap: 1rem;
    }
}

.swiper__title-ico{
    max-width: 3.5rem;
    max-height: 1.5rem;
}

.swiper__track {
    padding-top: 3.8rem;

    display: flex;
    gap: 2rem;
    will-change: transform;
    touch-action: pan-y;

    transition: transform 0.4s ease;
    cursor: grab;
}

.swiper__slide {
    flex: 0 0 calc((100% - 4rem) / 3); /* 3 card, 2 gap by 2rem */
    min-height: 12rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

@media (max-width: 1024px) {
    .swiper__slide{
        flex: 0 0 calc((100% - 2rem) / 2); /* 2 card, 1 gap by 2rem */
    }
}

@media (max-width: 575px) {
    .swiper__slide{
        flex: 0 0 100%; /* 1 card*/
    }
}

.slide__img{
    width: 100%;
    user-select: none;
}

.slide__img-picture{
    width: 100%;
    user-select: none;
}

.slide__card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3.1rem 2.5rem 2rem 2.5rem;
}

@media (max-width: 575px) {
    .slide__card{
        padding: 1.3rem 1.3rem;
    }
}

.slide__profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
}


.swiper__profile-title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(1rem, 1.5rem, 1.6rem);
}

.swiper__author{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.swiper__name{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(0.9rem, 1rem, 1.4rem);
}

.swiper__verified-ico{
    min-width: 1rem;
    min-height: 1rem;
}

.slide__price{
    padding-top: 2.4rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


.swiper__price-title{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(0.6rem, 0.6rem, 0.9rem);
}

.swiper__price-container{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-align: center;
}

.swiper__logo{
    max-width: 1.8rem;
    max-height: 2rem;
}

.swiper__main{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(0.7rem, 0.7rem, 1rem);
}

.swiper__sub{
    font-family: Rajdhani-Regular-woff, serif;
    font-size: clamp(0.7rem, 0.7rem, 1rem);
    color: var(--gray-timer);
}

.slide__timer{
    padding-top: 0.3rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.slide__timer-tittle{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(0.8rem, 0.8rem, 1rem);
    color: var(--gray-timer);
}

.swiper__timer-container{
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.swiper__timer-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4rem;
}

.swiper__timer-value{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: 1.48rem;
}

.swiper__timer-sub{
    font-family: Rajdhani-Medium-woff, serif;
    font-size: 0.9rem;
    color: var(--gray-timer);
}

.slide__button{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.2rem;

    padding: 0.8rem 1.4rem;
}

.slide__button-container{
    margin-top: 2.8rem;
}

.slide__button-text{
    font-family: Rajdhani-SemiBold-woff, serif;
    font-size: clamp(0.8rem, 1rem, 1.5rem);
}

.slide__button-ico{
    max-width: 2rem;
    max-height: 1rem;
}

/*tabs*/

.tabs{
    padding-top: 10.5rem;

    max-width: 99rem;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 1440px) {
    .tabs {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 5rem;
    }
}

@media (max-width: 1024px) {
    .tabs {
        justify-content: center;
        align-items: center;
    }
}

.tabs__section{
    padding-top: 4.3rem;

    display: flex;
    flex-direction: column;
}

.tabs__title{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(1rem, 1.9rem, 2.4rem);
    align-items: center;
    justify-content: flex-start;
}

.tabs__container{
    padding-top: 3.3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 3rem;
}

@media (max-width: 575px) {
    .tabs__container{
        grid-template-columns: 1fr;
    }
}

.tabs__container-button{

}

.tabs__button{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 2.3rem 6rem;

    background-color: transparent;
    border: 2px solid;
    border-image: linear-gradient(
            to right,
            var(--light-pink),
            var(--ocean-blue)) 1;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tabs__button:hover {
    color: var(--white);
    background-image: linear-gradient(
            to left,
            var(--blue),
            var(--purple),
            var(--pink),
            var(--pink),
            var(--purple),
            var(--blue));
    background-size: 200% 100%;
    background-position: right center;
}

.tabs__button:active{
    background-position: left center;
}



@media (max-width: 1024px) {
    .tabs__button{
        padding: 1.5rem 2rem;
    }
}


.tabs__button-text{
    font-family: Orbitron-Bold-woff, serif;
    color: var(--gray-timer);
    font-size: clamp(1rem, 2rem, 2.5rem);
}

.tabs__sub-container{
    padding-top: 2rem;
    padding-right: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 1.6rem;
}

.tabs__sub{
    font-family: Orbitron-Bold-woff, serif;
    font-size: clamp(1rem, 1.3rem, 2rem);
}

.tabs__sub-ico {
    max-width: 3.5rem;
    max-height: 1.5rem;
}

.tabs__picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs__img{
    display: block;
    width: 100%;
    object-fit: cover;
}