@font-face {
    font-family: 'Aldrich-Regular-woff';
    src: url('../fonts/Aldrich-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AlethiaNext-Light-woff';
    src: url('../fonts/AlethiaNext-Light.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-ExtraBold-woff';
    src: url('../fonts/Inter_28pt-ExtraBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Medium-woff';
    src: url('../fonts/Inter_28pt-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter-Regular-woff';
    src: url('../fonts/Inter_28pt-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LeagueSpartan-SemiBold-woff';
    src: url('../fonts/LeagueSpartan-SemiBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron-Bold-woff';
    src: url('../fonts/Orbitron-Bold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Bold-woff';
    src: url('../fonts/Rajdhani-Bold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Medium-woff';
    src: url('../fonts/Rajdhani-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-Regular-woff';
    src: url('../fonts/Rajdhani-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rajdhani-SemiBold-woff';
    src: url('../fonts/Rajdhani-SemiBold.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium-woff';
    src: url('../fonts/Roboto-Medium.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Regular-woff';
    src: url('../fonts/Roboto-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --white: #fff;
    --gray: rgba(255, 255, 255, 0.5);
    --gray-header: rgba(255, 255, 255, 0.6);
    --green: #0f6;
    --red: #f00;
    --blue-text: #2EC5CE;
    --purple-glossy: rgba(255, 86, 246, 0.51);

    /* Background */
    --dark-purple: #20083B;
    --purple-background: #01204c;
    --pink-background: #FFB1EE;
    /* Gradient */
    --pink: #FF56F6;
    --purple: #B936EE;
    --blue: #3BACE2;
    --dark-blue: #406AFF;
    --light-pink: #FFA6FA;
    --ocean-blue: #3C79D4;
}

/* Body*/

body {
    scroll-behavior: smooth;

    font-family: Roboto-Regular-woff, serif;
    color: var(--white);
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    overflow: hidden;
    position: relative;
    background-color: var(--dark-purple);
}

.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--white);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-purple);
    transition: background-color 1s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 0 0.2rem var(--white);
    background-color: var(--white);
}

a {
    text-decoration: none;
    color: var(--white);
}

/* Navigation */

.nav{
    position: fixed;
    width: 100%;

    background: var(--dark-purple);
    padding: 2.625rem 6.438rem;
}

.nav-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-navbar-logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-navbar-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
}

.nav-navbar-menu-container-item{
    font-family: Orbitron-Bold-woff,Roboto-Regular-woff, serif;
    font-size: 1.244rem;
    color: var(--gray-header);
}

.nav-navbar-menu-container-item:hover{
    color: var(--white);
    transition: all 0.3s ease;
}

.nav-navbar-icons{
    display: flex;
    align-items: center;
    cursor: pointer;
    /*stroke: var(--gray-header);*/
    gap: 2rem;
}

.nav-navbar-icons:hover{
    /*stroke: var(--white);*/
    transition: all 0.3s ease;
}

.nav-navbar-burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.nav-navbar-burger span {
    display: block;
    height: 0.176rem;
    width: 1.357rem;
    background: var(--gray-header);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.nav-navbar-burger:hover span{
    background: var(--white);
    transition: all 0.3s ease;
}

.nav-navbar-burger span:nth-child(2) {
    width: 0.848rem;
}

.nav-navbar-burger.open span:nth-child(1) {
    transform: rotate(36deg) translate(8px, 5px);
}
.nav-navbar-burger.open span:nth-child(2) {
    opacity: 0;
}
.nav-navbar-burger.open span:nth-child(3) {
    transform: rotate(-36deg) translate(8px, -5px);
}

@media (max-width: 768px) {

    .nav-navbar-icons{
        display: none;
    }

    .nav-navbar-burger {
        display: flex;
    }

    .nav-navbar-menu {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        background: var(--dark-purple);
        flex-direction: column;
        padding: 1rem;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.4s ease;
    }

    .nav-navbar-menu.open {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav-navbar-icons {
        display: none;
    }

    .nav-navbar-burger {
        display: flex;
    }

}

/* Header */

